@media (max-width: 1000px) {
  .desktop {
    display: none;
  }

  /* #mobile-nav {
    display: flex;
  } */

  .menu-icon {
    display: block;
  }
}

@media (max-width: 700px) {
  #mobile-nav {
    width: 100vw;
  }

  .mobile-logo {
    height: 7vh;
  }

  .mobile-label {
    height: 1.5rem;
  }
}