/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Righteous&family=Seaweed+Script&family=Zeyada&display=swap');
/* "Josepin Sans, sans-serif"     - Base Font
   "Seaweed Script, cursive"      - Decorative Font
   "Zeyada", cursive"             - Decorative Font Alt
   "Righteous", sans-serif        - Accent Font
*/

/* GENERAL STYLES */

/* -- Palette */
:root {
  --background-main: #c7b198;
  --background-alt__dark: #353535;
  --background-alt__light: #977c5e;
  --font-color__dark: #0d0807;
  --font-color__light: #bcb5b3;
  --accent-alt: #aeaeae;

  /* Transparent */
  --background-main-tr:  rgba(199, 177, 152, 0.4);
  --background-alt__dark-tr:  rgba(35, 35, 35, 0.4);
}

/* -- Reset and Initial Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: clamp(3rem, 16svh, 100px);

  
  font-family: "Josefin Sans", sans-serif;
  font-size: 16pt;
}

body { 
  background: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}


p {
  color: var(--font-color__dark);
}

img {
  display: block;
}

.cursive_font {
  font-family: "Zeyada", cursive;
}

/* Navigation Menu */

nav {
  height: clamp(3rem, 25svh, 100px);
  background-color: var(--background-alt__dark);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 0 1rem;
}

.container-links {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a{
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--font-color__light);
  transition: all 300ms ease-in-out;
}

nav a:hover {
  background-color: var(--accent-alt);
  color: var(--font-color__dark);
}

#home-title {
  display: none;
}

#container-logo {
  margin-right: auto;
  width: 70px;
  height: 70px;
  display: none;
}

#logo {
  font-size: 2.5rem;
  font-family: "Seaweed Script", cursive;
  color: var(--background-alt__dark);
  
  background-color: var(--background-alt__light);
  border-radius: 70px;
  width: 70px;
  height: 70px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .home-link {
  margin-right: auto;
}

.menu-icon {
  font-size: 2.5rem;
  color: var(--font-color__light);
  border-radius: 0.5rem;
  cursor: pointer;
}

#menu-active {
  display: none;
}


/* CONTENT STYLES */
/* -- General Content Properties */
.container-pages {
  margin-top: clamp(3rem, 16vh, 100px);
  height: calc(100svh - clamp(3rem, 16svh, 100px));
}

section {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- Home Page Styles */

.__home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;

  width: clamp(720px, 70vw, 90vw);
}

.container-home__img {
  grid-column: 1;
  grid-row: span 2;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
  .container-home__img img {
    height: clamp(200px, 400px, 100%);
    width: clamp(200px, 400px, 100%);
    object-fit: contain;
    filter: drop-shadow(0px 10px 5px rgb(80, 58, 16));
  }

.container-home__text {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

  .container-home__text:hover {
    cursor: default;
  }

  .container-home__text p {
    font-size: 2rem;
    font-family: "Zeyada", cursive;
    color: var(--font-color__light);
    text-shadow: var(--font-color__dark) 1px 0 10px;
    
    z-index: 2;
    position: relative;
    margin-bottom: -40px;
  }
  
  .container-home__text h1 {
    font-size: calc(2rem + 1vw);
    margin-bottom: -5px;
  }

  .container-home__text h2 {
    font-size: 1.5rem;
    font-family: "Righteous", sans-serif;
    color: var(--background-alt__dark);
  }

.container-home__buttons {
  grid-column: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
}

  .container-home__buttons a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 8rem;
    height: 3rem;
    border: 4px solid var(--font-color__dark);
    border-radius: 2rem;

    text-decoration: none;
    color: var(--font-color__light);
    background-color: var(--background-alt__dark);
  }

  .container-home__buttons a:hover {
    transition: all 200ms ease-in-out;
    color: var(--font-color__dark);
    background-color: var(--accent-alt);
  }

.container-home__socials {
  grid-column: span 2;
  grid-row: 3;

  display: flex;
  justify-content: center;
  gap: 1rem;
}
  .container-home__socials a {
    display: flex;
    flex-direction: column;
    color: var(--font-color__dark);
    text-decoration: none;
  }

  .container-home__socials a:hover {
    transition: all 200ms ease-in-out;
    color: var(--accent-alt);
  }

  .icons-soc {
    height: 80px;
    width: 80px;
  }

/* -- About Page Styles */
/* .__about > * {
  border: 1px solid red;
} */

.__about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;

  width: clamp(720px, 70vw, 90vw);
}
.container-about__img {
  grid-column: 1;
  grid-row: span 3;
  height: 100%;
  width: 100%;
}
.container-about__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  object-position: center right;

  box-shadow: 0px 0px 10px black;
}

.container-about__name {
  font-size: 1.5rem;
  grid-column: 2;
}

.contaienr-about__story {
  grid-column: 2;
}

.container-about_exp {
  display: flex;
  height: 150px;
  justify-content: space-evenly;
}

.exp-content {
  width: clamp(200px, 10vw, 18rem);
  height: calc(5vw + 1svh);

  /* background: url(./assets/texture_blueprint.png); */
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  transition: transform 1s;
  transform-style: preserve-3d;
}

  .exp-content:hover {
    cursor: default;
    transform: rotateX(180deg);
    transition: 0.5s;
    
  }

  .exp-card {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: clamp(0.5rem, 1rem, 1.2rem);

    background-color: var(--background-alt__dark);
    color: var(--font-color__light);
    backface-visibility: hidden;

    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  ._exp-card--back {
    background: var(--background-alt__light);
    color: var(--background-alt__dark);
    transform: rotateX( 180deg);
    
  }

.icons-skill {
  --icons-skill-size: 60px;
  height: var(--icons-skill-size);
  width: var(--icons-skill-size);
}

/* -- Arrow Navigation Properties */
.arrow {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  gap: 5px;

}

.arrow a {
  text-decoration: none;
}

.arrow-up, .arrow-dn {
  height: 80px;
  width: 80px;
  display: flex;
  
  background-color: var(--background-alt__dark);
  color: var(--font-color__light);
  text-align: center;
  
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 800;
  border-radius: 20px;
  
  transition: all 300ms ease-in-out;
}

.arrow-up:hover, .arrow-dn:hover {
  background-color: var(--accent-alt);
  color: var(--font-color__dark);
}

.open-menu-button, .close-menu-button {
  display: none;
}