/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Seaweed+Script&display=swap');

/* General Styles */

:root {
  /* Palette */
  --background-main: #c7b198;
  --background-alt-dark: #746355;
  --background-alt-light: #b5a18a;
  --main-font-color: #211412;
  --accent-dark: #f0ece2;
  --accent-light: #dfd3c3;
  --accent-alt: #596e79;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--background-main);
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--main-font-color);
}

img {
  display: block;
}

/* Transitions */

a, .btn {
  transition: all 300ms ease;
}

/* Navigations */
nav, .nav-links {
  display: flex;
}

/* Desktop Navigations */

#desktop-nav {
  height: 16vh;
  justify-content: space-around;
  align-items: center;
  padding: 0 5vw;
}

.logo {
  font-size: 3rem;
  font-weight: 800;
  /* padding-left: 5vh; */
}

.nav-links a{
  font-size: clamp(1rem, 1.7rem, 2rem);
  text-decoration: none;
  color: var(--main-font-color);
}

.desktop a:hover {
  color: var(--accent-alt);
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.7rem;
}

.desktop {
  flex-basis: 60%;
  height: 80%;
  margin-right: 5vh;
  align-items: center;
}

.desktop-link {
  width: 25%;
  text-align: center;
}

/* Mobile Navigations */

.menu-icon {
  display: none;
  font-size: 3rem;
}

.menu-icon:hover {
  cursor: pointer;
}

.close-icon {
  font-size: 3rem;
  height: 16vh;
  text-align: center;
  vertical-align: center;
  line-height: 16vh;
  /* background-color: blue; */
}

.mobile-label {
  overflow: hidden;
  height: 0;
}

.mobile-logo {
  font-family: 'Seaweed Script', cursive;
  border-radius: 7vh;
  font-size: 2rem;
  text-align: center;
  vertical-align: center;
  line-height: 7vh;
  height: 0vh;
  width: 7vh;
  background-color: var(--main-font-color);
  color: var(--background-alt-light);
  overflow: hidden;
}

.mobile {
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#mobile-nav {
  background-color: var(--background-alt-light);
  display: none;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 40vw;
  height: 100vh;
  z-index: 999;
  transition: all 350ms ease-in-out;
}